.profile-page {
  background-color: #f8fbfd;
  min-height: 100vh;
}

.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #0890c6;
}


.btn-outline-primary {
  color: #0890c6;
  border: 1px solid #0890c6;
  background-color: transparent;
}

.btn-outline-primary:hover {
  background-color: #0890c6;
  color: white;
}
